<section>
    <form action="/api/product" method="post">
        <label for="title">Titulo</label>
        <input type="text" name="title" id="title">
        <label for="description">Descripcion</label>
        <input type="text" name="description" id="description">
        <label for="price">Precio</label>
        <input type="number" name="price" id="price">
        <label for="thumbnail">URL de la Imagen </label>
        <input type="text" name="thumbnail" id="thumbnail">
        <label for="code">Codigo de Producto</label>
        <input type="text" name="code" id="code">
        <label for="stock">Stock</label>
        <input type="number" name="stock" id="stock">
        <button type="submit">Enviar</button>
    </form>
</section>