<main>
    <section class="chatSection">
        <article class="chatUser">
            <input type="email" name="mail" id="mail" class="chatInput" placeholder="Ingrese su Mail">
        </article>
        <article>
            <div class="chatBox">

            </div>
            <input type="text" name="message" id="message" class="chatInput" placeholder="Mensaje...">
            <input type="button" value="send" id="buttonSend" class="chatButton">
        </article>
    </section>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="chat.js"></script>