<section>
    <h2>Login de usuario </h2>
    <article>
        <form action="/auth/login" method="post">
            <input type="text" name="email" placeholder="e-Mail">
            <input type="text" name="password" placeholder="Contraseña">
            <button type="submit">Login</button>
        </form>
        <div>
            <a href="/auth/register">Register</a>
            <a href="/auth/profile">Profile</a>
            <a href="/auth/github">GitHub</a>
        </div>
    </article>
</section>